{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}


{% block body %}
<div class="container">
<form action='' method = "POST">
<table class="table">
    <tr>
        <td>Título
        </td>
        <td><input type = "text" name = "titulo" value="{{chamado.titulo}}" class="form-control" /></td>
    </tr>
    <tr>
        <td>Descricao</td>
        <td><textarea class="form-control" rows="3" name = "descricao">{{chamado.descricao}}</textarea></td>
            <!-- <input type = "textarea" name = "descricao" class="form-control" value="{{chamado.descricao}}"  /></td> -->
    </tr>

    <tr>
        <td>Prioridade</td>
        <td>
        <select name="prioridade" value="{{chamado.prioridade}}" class="form-control">
            <option value="1 - Alto"
            {% if 'Alto' in chamado.prioridade %}
            selected
           {% endif %}
            >1 - Alto</option>
            <option value="2 - Médio"
            {% if 'Médio' in chamado.prioridade %}
              selected
           {% endif %}
            >2 - Médio</option>
            <option value="3 - Baixo"
            {% if 'Baixo' in chamado.prioridade %}
            selected
          {% endif %}
            >3 - Baixo</option>
         </select>
        </td>
    </tr>


    <tr>
        <td colspan="2">
            <input type="submit" name="submit" value="ALTERAR" class="btn btn-warning">
        </td>

    </tr>
</table>

  </form>

</div>
{% endblock %}


